body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.overlay {
    background: rgba(0, 0, 0, 0.75);
    min-height: 100vh;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    width: 120px;
}

.nav-buttons a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

.nav-buttons a:hover {
    background: #38bdf8;
    color: black;
}

/* HERO SECTION */

.hero {
    text-align: center;
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

.profile {
    width: 200px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 20px;
}

.name {
    font-size: 42px;
    margin-bottom: 10px;
}

.designation {
    font-weight: 400;
    color: #38bdf8;
    margin-bottom: 20px;
}

.bio {
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
}