* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f9f7fc;
  color: #111;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}
.logo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 35px;
}

.navbar a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #6a4fa3;
}

/* Hero Section */
.hero {
  margin-top: 60px;
  padding: 40px 20px;
}

.hero img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 6px solid #111;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.hero h1 {
  font-size: 48px;
  margin-top: 25px;
  font-weight: 700;
}

.subtitle {
  font-size: 20px;
  margin: 12px 0;
  font-weight: 500;
}

.description {
  max-width: 750px;
  margin: 15px auto;
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

/* Buttons */
.buttons {
  margin-top: 40px;
}

.btn {
  display: inline-block;
  background: #111;
  color: white;
  padding: 12px 28px;
  border-radius: 35px;
  margin: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background: #6a4fa3;
}

/* Footer */
footer {
  margin-top: 80px;
  padding: 30px;
  font-size: 14px;
  color: #777;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 15px;
  }

  .hero h1 {
    font-size: 34px;
  }
}
